{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}

<div style="
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
background: linear-gradient(135deg,#1f0036,#0f2027);
color:white;
">

<div style="
display:flex;
align-items:center;
gap:60px;
flex-wrap:wrap;
padding:40px;
">

<!-- IMAGE SIDE -->

<div>
<img src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f"
style="
width:420px;
border-radius:20px;
box-shadow:0 0 40px rgba(0,255,255,0.4);
">
</div>

<!-- LOGIN CARD -->

<div style="
width:380px;
padding:40px;
border-radius:20px;
backdrop-filter: blur(20px);
background: rgba(255,255,255,0.05);
border:1px solid rgba(255,255,255,0.1);
box-shadow:0 0 40px rgba(0,255,255,0.3);
">

<h2 style="
text-align:center;
margin-bottom:25px;
color:#00f5ff;
letter-spacing:1px;
">
Welcome Back
</h2>

<form method="POST">
{% csrf_token %}

<input type="text"
name="username"
placeholder="Username"
required
style="
width:100%;
padding:12px;
margin-bottom:15px;
border:none;
border-radius:10px;
background:rgba(255,255,255,0.1);
color:white;
outline:none;
">

<input type="password"
name="password"
placeholder="Password"
required
style="
width:100%;
padding:12px;
margin-bottom:25px;
border:none;
border-radius:10px;
background:rgba(255,255,255,0.1);
color:white;
outline:none;
">

<button type="submit"
style="
width:100%;
padding:14px;
border:none;
border-radius:30px;
background:linear-gradient(45deg,#00f5ff,#8e2de2);
font-weight:bold;
color:white;
cursor:pointer;
transition:0.3s;
"
onmouseover="this.style.transform='scale(1.07)'"
onmouseout="this.style.transform='scale(1)'">
Login </button>

</form>

<p style="text-align:center;margin-top:20px;">
No account?
<a href="{% url 'register' %}" style="color:#00f5ff;text-decoration:none;">
Register
</a>
</p>

</div>

</div>

</div>

{% endblock %}
